body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 50px;
  background-color: green;
}

section {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(red,yellow);
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me {
    width: 100%;
    height: 200px;
  background-color: rgb(177, 69, 21, 0.8);
  margin: 10px 0 10px 0;
  border: solid black 10px;
  border-radius: 15px;
}

.avatar {
  width: 75px;
  border-radius: 50px;
}

#name {
  color: blue;
}

.test {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 5px;
}
