div {
  width: 300px;
  height: 200px;
  background-color: green;
}

//specifications for the section link
section {
  width: 300px;
  height: 200px;
  background-color: yellow;
}

//specifications for the about me link
.about-me {
    width: 300px;
    height: 100px;
  background-color: red;
  margin: 10px;
  border: solid black 10px;
  border-radius: 15px;
}
 //changed colors to see effect
